@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
}

:root {
  --primary-very-dark: hsl(233, 47%, 7%);
  --primary-desat-blue: hsl(244, 38%, 16%);
  --primary-violet: hsl(277, 64%, 61%);
  --primary-white: hsl(0, 0%, 100%);
  --primary-transparent-white: hsla(0, 0%, 100%, 0.75);
  --primary-more-transparent-white: hsla(0, 0%, 100%, 0.6);
}

html {
  font-size: 15px;
}

body {
  background: var(--primary-very-dark);
  font-family: "Inter";
  margin-left: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

h1 {
  color: var(--primary-white);
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

p {
  color: var(--primary-transparent-white);
  line-height: 1.8em;
}

.lightPurple {
  color: var(--primary-violet);
}

.container {
  width: 1400px;
  position: center;
  background: var(--primary-desat-blue);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  border-radius: 10px 10px 10px 10px;
}

.text-area {
  padding: 80px 140px 80px 120px;
  width: 50%;
  margin-top: 50px;
}

.image-area {
  background-image: url("./images/image-header-desktop.jpg");
  width: 50%;
  border-radius: 0px 10px 10px 0px;
  background-size: cover;
  object-fit: cover;
}

.overlay {
  height: 600px;
  background: var(--primary-violet);
  overflow: hidden;
  opacity: 0.6;
  border-radius: 0px 10px 10px 0px;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  width: 100%;
}

.stats-left {
  width: 33%;
}

.stats-center {
  width: 33%;
}

.stats-right {
  width: 33%;
  display: flex;
  justify-content: end;
}

.stat-headers {
  color: var(--primary-white);
  text-transform: uppercase;
  margin-right: 50px;
}

.stat-text {
  color: var(--primary-more-transparent-white);
  font-family: "Lexend Deca";
  text-transform: uppercase;
  font-size: 15px;
}

@media (max-width: 1400px) {
  .container {
    margin: 75px 20px 75px 20px;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 1400px) {
  p {
    width: 50%;
  }

  .container {
    margin-top: 300px;
    display: flex;
    flex-direction: column-reverse;
    height: 800px;
    width: 90vw;
    border-radius: 10px 10px 10px 10px;
  }

  .image-area {
    height: 33.3%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .overlay {
    height: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .text-area {
    width: 100%;
    height: 66.6%;
    padding: 40px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .stats-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
    width: 100%;

    align-items: center;
    text-align: center;
  }

  .stat-headers {
    margin-right: 0px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .stats-right {
    width: 33%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.5rem;
    width: 100%;
  }

  p {
    width: 100%;
  }

  .stats-container {
    padding-top: 40px;
  }

  .text-area {
    margin-top: 0px;
  }
}
